/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 50%;
	top: 0;
	left: 0;
	background: #000000;
	z-index: 30000;
}

/* Overlay closing cross */
.overlay .overlay-close {
	font-family: "nimbus-sans-extended", serif;
	font-weight: 700;
	position: absolute;
	outline: none;
	z-index: 100;
	color: #ffffff;
	border: 1px solid #ffffff;
	padding: 1.4em 3.5em;
	font-size: 0.8rem;
	border-radius: 0;
}

 @media (min-width: 1500px) {
    a .button.large {
      font-size: 1.2rem;
    }
}

/* Menu style */
.overlay nav {
  font-family: "freight-big-pro",sans-serif;
  font-weight: 400;
	position: relative;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	top: 7rem;
    margin-left: 4.4rem;
	}

@media (max-width: 500px){
	.overlay nav {
    margin-left: 2rem;
	}
}

.overlay ul {
	list-style: none;
	padding-top: 10rem;
	padding-bottom: 5rem;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
/*	height: 20%;
*/	height: calc(100% / 5);
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
    margin-bottom: 5remrem;
}

.overlay ul li a {
	font-size: 3rem;
	font-weight: 400;
	display: block;
	color: #ffffff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
		  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
	
}


.inactive { 
	font-size: 3rem;
	font-weight: 300;
	opacity: 0.5;
}

.inactive::after {
	content: url(../images/circle-inactive.svg);
    position: absolute;
    top: 5.3rem;
    left: -11.5rem;
    display: inline-block;
	transform: scale(.5);
  }

}

.overlay a:hover,
.overlay a:focus {
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}


/* Effects */
.overlay-slidedown {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.5s ease-in-out, visibility 0s 0.5s;
	transition: transform 0.5s ease-in-out, visibility 0s 0.5s;
}

.overlay-slidedown.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 100%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}