body {
  font-family: "freight-big-pro", sans-serif;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  line-height: 1.5em; 
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}


.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.fullWidth-left {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   padding-left: 6em;
   max-width: initial;
}

.fullWidth-right {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   padding-right: 6em;
   max-width: initial;
}

.fullWidth-inset {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   padding-right: 6em;
   padding-left: 6em;
   max-width: initial;
}

h1 {
  font-size: 6rem;
  line-height: 1.1em;
  font-family: "freight-big-Pro", sans-serif;
  font-weight: 400;
}

p {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-size: .7rem;
  line-height: 1.5em; 
}

a {
  color: #ffffff;
  text-decoration: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

a:hover {
  opacity: 0.3;
}

a:visited, a:active  { 
    color: #ffffff;
    opacity: 0.3;
}


a .button.large {
  opacity: 1;
  border: 1px solid #ffffff;
  border-radius: 0;
  padding: 1.4em 3.5em;
  font-size: 1rem;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}



/*---navbar---*/

#nav {
  padding-top: 2.8em;
}


#nav p, #nav a, .tel {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-size: .7rem;
  line-height: 1.5em;
  font-size: 1em;
  line-height: 0;
  padding-right: 1rem;
}

#nav a {
  color: #ffffff;
  opacity: 0.5;
}

#nav a:hover {
  color: #ffffff;
  opacity: 0.3;
}


.fixed-nav {
/*  background-image: linear-gradient(0deg, rgba(0,0,0,0.00) 10%, #000000 100%);
*/  height: 10rem;
  position: fixed;
  width: 100%;
}

.menu {
  top: 1em;
  right: 1em;
  -webkit-animation-duration: 90s;
  -webkit-animation-delay: 1s;
}

.logo {
  top: 2.1em;
  left: 1em;
  -webkit-animation-duration: 90s;
  -webkit-animation-delay: 1s;
}

.menu, .logo {
  position: absolute;
  z-index: 20000;
}

img.logo{
  height: 2rem;
  margin-left: .5rem;
}

.menu img {
  height: .9rem;
  padding-left: .5rem;
}

.logotype {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-size: 1rem;

}

/*--about--*/

h1.about {
  padding: 12rem 0 6rem 0;
}

.about a {
  opacity: 0.5;
  font-style: italic;
}

.about a:hover {
  color: #ffffff;
  opacity: 0.2;
}

.small-link a {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-size: .9rem;
  color: #ffffff;
  border-bottom: 1px #ffffff solid;
  padding-bottom: 3px;
  white-space: nowrap;
  margin-left: 1em;
}


.small-link img { 
  height: 1em;
}

.erase {
  background-image: url(../images/erase.svg);
    background-repeat: no-repeat;
    background-size: 2.2em;
    display: inline-block;
    text-align: center;
    background-position: 48% 10px;
    width: 2.1em;
  -webkit-animation-duration: 9s;
  -webkit-animation-delay: 2.15s;
}


/*--projects--*/

.project-card {
  padding-top: 6rem;

}

.project-card .details {
  padding-top: 12rem;
}

.project-header h1{
  font-size: 4rem;
  padding: 30rem 0 6rem 0;
}

.project-header.hot-salvation-records {
  background-image: url(../images/hot-salvation-records/header-image.jpg);
  background-size: cover;
}

.project-header.magicseaweed {
  background-image: url(../images/magicseaweed/header-image.jpg);
  background-size: cover;
}

.project-header.hello-hair {
  background-image: url(../images/hello-hair/header-image.jpg);
  background-size: cover;
}

.project-card.hot-salvation-records{
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #FC9AB0 42%, #476EFA 97%);
}

#project-details {
  padding-top: 6rem;
  padding-bottom: 10em;

}

.title.hot-salvation-records img {
  padding-top: 12em;
}

.blurb {
padding-top: 10rem;
padding-bottom: 10rem;
}

hr {
    max-width: 100%;
    margin-left: 6em;
    margin-right: 6em; 
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
/*    margin-top: 10em;
    margin-bottom: 10em;*/
}

.verticle-offset.hot-salvation-records {
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #FC9AB0 42%, #476EFA 97%);
  padding-bottom: 10rem;
}

.verticle-offset.hot-salvation-records .shift-up {
  margin-top: -20rem;
  padding-top: 10rem;
}

.verticle-offset.hot-salvation-records.shift-up {
  margin-top: -20rem;
}

.verticle-offset.hot-salvation-records .shift-down {
  margin-top: 20rem;
}

.shift-up {
  margin-top:-20rem;
}







/*
------------*/











